.swiper {
  max-width: 340px;
  height: 420px;
  margin-bottom: 100px;
}

.swiper_slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper_slide:nth-child(1n) {
  background-color: #011160;
}

.swiper_slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper_slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper_slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper_slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}
@media screen and (max-width: 700px) {
  .swiper {
    max-width: 340px;
    width: 80%;
    height: 420px;
  }
}
