@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dot: radial-gradient(closest-side, #777, #fff calc(100% / sqrt(2)));
  --pattern: repeating-conic-gradient(var(--a), #fff, #777, #fff var(--p)) 0/
    3em 3em;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}
.html,
.body {
  overflow: hidden;
}
body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: safiro, sans-serif; */
}
.scroll-lock {
  overflow: hidden;
}
.pattern {
  background: var(
      --pattern,
      radial-gradient(closest-side, #777, #fff) 0/ 0.5em 1em space
    ),
    var(--map, linear-gradient(90deg, #888, #fff));
  background-blend-mode: multiply;
  filter: contrast(16);
}

@layer components {
  .text-15 {
    @apply text-[15px] leading-[1.2];
  }
  .text-16 {
    @apply text-[16px] leading-5;
  }
  .text-12 {
    @apply text-[12px] leading-[1.2];
  }
  .text-40 {
    @apply text-[40px] leading-[1.2];
  }
  .text-20 {
    @apply text-[19.2px] leading-[23px];
  }
  .text-24 {
    @apply text-[24px] leading-[1.2];
  }
  .text-64 {
    @apply text-[64px] leading-[120%];
  }
  .mySwiper {
    @apply max-w-[800px] max-h-[400px] w-full drop-shadow-xl bg-white rounded-[20px];
  }
  .active_link {
    @apply before:content-[''] before:transition-all before:duration-200 before:ease-in-out before:absolute before:-bottom-2 top-0 before:left-0 before:w-full before:h-[2px] before:bg-primary;
  }
}
